/* global styles and components*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --white: #fff;
  --light: #ccc;
  --grey: #999;
  --font: #555;
  --dark: #333;
  --black: #111;
  --btn-hover: #000;
  --green: #00B54D;
  --yellow: #fec633;
  --red: #EB5757;
  --brand-gradient: linear-gradient(90deg, #9B51E0, #BB6BD9);
  --dark-gradient: linear-gradient(150deg, #000, #222, #000);
  --wpp-gradient: linear-gradient(90deg, #0fa948, #4bc177);
  --brand-gradient-hover: linear-gradient(90deg, #933be6, #c257e9);

  --main: "DM Sans", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --title: "DM Sans", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --contentWidth: 1220px;
  --ctPadding: 30px;
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

html {
  font-family: var(--main);
  box-sizing: border-box;>
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* border: red 1px solid; */
}

a {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

.container {
  padding: 0 max(var(--ctPadding), 50vw - var(--contentWidth) / 2);
}

@media (max-width: 767px) {
  .container {
    padding: 0 max(20px, 50vw - var(--contentWidth) / 2);
  }
}

.ctn-btn {
  background-image: var(--brand-gradient);
  color: var(--white);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  letter-spacing: .05rem;
  font-family: var(--main);
  transition: ease .1s;
  font-size: inherit;
}

.ctn-btn:hover {
  background-image: var(--brand-gradient-hover);
}

.ctn-btn a {
  padding: 16px 32px;
  display: inline-block;
}

.white-btn {
  background-image: var(--white);
  color: var(--white);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  letter-spacing: .05rem;
  font-family: var(--main);
  transition: ease .1s;
  font-size: inherit;
}

.white-btn a {
  padding: 16px 32px;
  display: inline-block;
  color: var(--dark);
  font-weight: 600;
}

.white-btn:hover {
  background-color: var(--yellow);
}

.wpp-btn {
  background-image: var(--wpp-gradient);
}

.wpp-btn:hover {
  background-image: var(--wpp-gradient);
}

.wpp-btn a img{
  margin-bottom: -4px;
  margin-right: 8px;
  max-width: 20px;
}

.wpp-btn a {
 width: auto;
}

p{
  font-size: 18px;
  font-weight: 500;
  color: var(--font);
}

p strong{
  color: var(--dark);
}

h2 {
  font-family: var(--title);
  color: var(--dark);
  font-size: 36px;
  line-height: 1;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: .1rem;
}

.title {
  text-align: center;
}

.title span{
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .05rem;
  font-weight: 700;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header */

.header {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 0px;
  letter-spacing: .05rem;
}

.header ul {
  font-size: 18px;
}

.header-logo a{
  background-color: var(--dark);
  padding: 12px 32px;
  border-radius: 4px;
  color: var(--light);
  display: inline-block;
  font-weight: 400;
  transition: ease .1s;
}

.header-logo a:hover{
  background-color: var(--btn-hover);
}

.header ul li {
  display: inline-block;
  color: var(--black);
  font-weight: 500;
}

.header ul li a {
  padding: 16px 8px;
  display: inline-block;
  transition: ease .1s;
  border-radius: 8px;
}

.header ul li a:hover {
  background-color: var(--light);
}

@media (max-width: 850px) {
  .header ul {
    display: none;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 14px;
  }
  .header-logo a{
    padding: 12px 24px;
  }
  .ctn-btn a {
    padding: 12px 24px;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 14px;
  }
  .header-logo a,
  .ctn-btn a {
    padding: 12px 16px;
  }
}

/* hero-section */

.bg-hero {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero {
  display: grid;
  grid-template-columns: 6fr 8fr;
  gap: 60px;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  place-items: start;
  gap: 32px;
}

.hero-info div h1{
  font-family: var(--title);
  color: var(--dark);
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero-info div h1 span {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  height: 4px;
  width: 30px;
  background-image: var(--brand-gradient);
  border-radius: 1px;
  margin-left: 2px;
}

.hero-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.hero-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .bg-hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-info div h1{
    font-size: 36px;
  }
  .hero {
    grid-template-columns: 6fr 8fr;
    gap: 40px;
  }
  .hero-info {
    gap: 30px;
  }
  .divider {
    display: none;
  }
}

@media (max-width: 850px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .hero-info {
    grid-row: 2;
    align-items: center;
    text-align: center;
  }
  .hero-info h1{
    max-width: 17ch;margin: 0 auto;
  }
  .hero-info p{
    max-width: 40ch;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .hero-info h1{
    font: 28px;
    line-height: 1;
  }
}

/* aulas */

.aulas-img,
.hero-video,
.depoimentos-video {
  position: relative;
}

.aulas-img img {
  position: relative;
}

.aulas-img div,
.hero-video div {
  top: 10px;
  left: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #BB6BD9;
  border-radius: 12px;
  box-shadow:  rgba(187, 107, 217, .2) 0px 7px 29px 0px, inset rgba(187, 107, 217, .2) 0px 7px 29px 0px;
}


.bg-aulas {
  background-color: #eee;
  padding-top: 80px;
  padding-bottom: 115px;
}

.aulas {
  display: grid;
  grid-template-columns: 6fr 8fr;
  gap: 80px;
  align-items: center;
  padding-top: 80px;
}

.aulas-info {
  display: grid;
  gap: 32px;
}

.aulas-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 30px;
}

.aulas-list img {
  width: 32px;
}

.aulas-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.aulas-list li p {
  font-size: 16px;
}

.icons-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding-top: 32px; */
}

.icon-container {
  text-align: center;
}

.icon-container img {
  width: 36px; 
  margin-bottom: px;
}

.icon-container span {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .05rem;
  font-weight: 600;
  display: block;
  color: var(--dark);
}

.icon-container p {
  font-size: 16px;
  line-height: 1;
}

@media (max-width: 1024px) {
  .aulas {
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .aulas-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    column-gap: 12px;
  }
}

@media (max-width: 850px) {
  .bg-aulas {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .aulas {
    grid-template-columns: 1fr;
  }
  .aulas-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    column-gap: 12px;
  }
  .aulas-img img {
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (max-width: 600px) {
  .aulas-list {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .icons-list {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

/* beneficios */

.title-out {
  margin-top: 100px;
  margin-bottom: 80px;
}

.bg-beneficios {
  background-image: var(--dark-gradient);
  box-shadow: inset 0px 80px var(--white), inset 0px -80px var(--white);
  margin-bottom: 100px;
}

.beneficios {
  display: grid;
  grid-template-columns: 7fr 9fr;
  gap: 40px;
}

.beneficios-img img {
  max-width: 550px;
}

.beneficios-info {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: start;
  gap: 32px;
  padding: 32px 32px 32px 0px;
  color: var(--white);
}

.yellow-divider {
  border-radius: 1px;
  width: 30px;
  height: 4px;
  background-color: var(--white);
}

.calculos {
  display: grid;
  gap: 16px;
}

.calculos p,
.disclaimer p {
  color: var(--white);
  font-weight: 400;
}

.poder {
  background-color: var(--black);
  border-radius: 4px;
  border: 2px solid var(--light);
  width: 100%;
}

.poder p {
  padding: 16px;
  text-align: center;
  color: var(--light);
  font-weight: 400;
}

.disclaimer {
  display: grid;
  gap: 6px;
}

.disclaimer p {
  font-size: 16px;
}

@media (max-width: 1439px) {
  .yellow-divider {
    display: none;
  }
  .poder {
    display: none;
  }
}
@media (max-width: 1023px) {
  .bg-beneficios {
    box-shadow: inset 0px 80px var(--white);
  }
  .beneficios {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .beneficios-img {
    margin: 0 auto;
  }
  .beneficios-info {
    margin: 0 auto;
    padding: 0;
    gap: 48px;
    margin-bottom: 60px;
  }
  .poder {
    display: initial;
  }
  .beneficios-info h3 {
    text-align: center;
    margin: 0 auto;
  }
  .beneficios-info .white-btn {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .beneficios {
    gap: 60px;
  }
  .beneficios-info h3 {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 424px) {
  .beneficios {
    gap: 60px;
  }
  .beneficios-info {
    gap: 16px;
  }
  .beneficios-info h3 {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .beneficios-info p {
    font-size: 16px;
  }
  .disclaimer p {
    font-size: 14px;
  }
  .beneficios-info .white-btn {
    margin-top: 32px;
  }
}

/* depoimentos */

.title-white {
  text-align: center;
}

.title-white span{
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .05rem;
  font-weight: 700;
  color: var(--yellow);
}

.title-white h2{
  color: var(--white);
}

.bg-depoimentos p{
  color: var(--light);
  font-weight: 400;
}

.bg-depoimentos {
  background-color: var(--black);
  padding-top: 80px;
  padding-bottom: 80px;
}

.depoimentos {
  display: block;
  grid-template-columns: 1fr;
  gap: 40px;
}

.depoimentos-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.depoimentos-ct {
  display: grid;
  align-content: center;
}

.quote {
  position: relative;
  margin-bottom: 40px;
}

.quote:before,
.quote:after {
  font-size: 86px;
  opacity: .3;
  position: absolute;
  color: var(--yellow);
}

.quote:before{
  content: "❝";
  top: -50px;
  left: -40px;
}

.quote:after {
  content: "❞";
  position: absolute;
  bottom: -80px;
  right: 0px;
}

.quote {
  color: var(--light);
  font-style: italic;
}

.quote p{
  font-size: 24px;
}

.depoimentos-person p:first-child {
  font-size: 18px;
  font-weight: 600;
  color: var(--yellow);
}

.depoimentos-person p:nth-child(2) {
  font-weight: 500;
  color: var(--white);
}

.depoimentos-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.depoimentos-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 2;
}

.depoimentos-video div{
  top: 10px;
  left: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #fff !important;
  border-radius: 12px;
  box-shadow:  rgba(255, 255, 255, .2) 0px 7px 29px 0px, inset rgba(255, 255, 255, .2) 0px 7px 29px 0px;
}

.depoimentos-bottom {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden; /* Hide vertical scrollbar */
  gap: 32px;
}

.depoimentos-bottom div img {
  border-radius: 8px;
  min-width: 20vw;
}


@media (max-width: 1023px) {
  .depoimentos-top {
    grid-template-columns: 1fr;
    gap: 120px;
  }
  .depoimentos-ct {
    order: 2;
  }
  .depoimentos-ct {
    max-width: 600px;
    margin: 0 auto;
  }
  .depoimentos-person {
    margin-left: auto;
    text-align: end;
  }
  .depoimentos-ct {
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .quote p{
    font-size: 18px;
  }
  .depoimentos-person p {
    font-size: 14px;
  }
}

@media (max-width: 423px) {
  .quote p {
    font-size: 16px;
  }
  .depoimentos-person p {
    font-size: 14px;
  }
  .quote:before {
    top: -60px;
    left: -30px;
  }
}

/* carroussel */

.gallery-container {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-wrapper {
  background-color: rgba(255, 255, 255, 0);
}

.gallery-wrapper a{
  padding: 20px 0px;
  line-height: 0px;
  border-radius: 500px;
  color: var(--yellow);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
}

.gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  overflow-x: auto;
  max-width: 972px;
}

.item {
  padding: 0 12px;
  width: 300px;
}

.gallery::-webkit-scrollbar {
  display: none;
}


.gallery-container {
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .gallery {
    max-width: 648px;
  }
}

@media (max-width: 767px) {
  .gallery {
    max-width: 324px;
  }
}

@media (max-width: 424px) {
  .item {
    width: 250px;
  }
  .gallery {
    max-width: 274px;
  }
}

/* precos */

.precos {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 60px;
}

.precos-left {
  display: grid;
  place-items: center;
}

.precos-wrapper {
  text-align: center;
  max-width: 400px;
  padding: 60px;
  padding-bottom: 80px;
  background-image: var(--dark-gradient);
  color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.precos-wrapper P{
  color: var(--white);
}

.precos-wrapper p:first-child {
font-size: 16px;
line-height: 18px;
letter-spacing: 0.1em;
}

.price-tag {
  display: flex;
  justify-content: center;
  gap: 4px;
} 

.price-tag * {
  font-weight: 700;
}

.tag-1 {
  font-size: 20px;
  align-self: start;
}

.tag-2 {
  font-size: 72px;
  line-height: 63px;
}

.tag-3, .tag-4 {
  align-self: end;
}

.price-divider {
  width: 100%;
  height: 1px;
  background-color: var(--light);
}

.precos-list {
  display: grid;
  gap: 24px;
}

.precos-list li {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 18px;
}

.precos-list li img {
  padding-top: 2px;
  max-width: 18px;
}

.precos-left .ctn-btn {
  margin-top: -27px;
}

.precos-right {
  display: grid;
  gap: 65px;
  place-content: center;
}

.precos-right p {
  font-weight: 700;
  color: var(--dark);
}

.precos-right div img {
  max-width: 200px;
}

.precos-right div:first-child img {
  max-width: 200px;
}

.precos-right div *{
  text-align: center;
  margin: 5px;
}

.wpp-cta {
  padding-top: 60px;
  padding-bottom: 120px;
  display: grid;
  place-items: center;
  gap: 24px;
}

.wpp-cta div p:first-child{
  font-size: 24px;
  color: var(--dark); 
}

.wpp-cta div p:nth-child(2) {
  font-family: var(--main);
  font-size: 16px;
  color: var(--grey); 
  font-weight: 400;
}

@media (max-width: 767px) {
  .precos {
    grid-template-columns: 1fr;
  }
  @media (max-width: 424px) {
    .precos-wrapper {
      width: 100%;
      padding: 40px;
      padding-bottom: 60px;
    }
    .precos-wrapper li{
      text-align: left;
    }
    .wpp-cta div p:first-child{
      font-size: 20px;
    }
}




























