/* global styles and components*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --white: #fff;
  --light: #eee;
  --grey: #999;
  --font: #666;
  --dark: #333;
  --black: #111;
  --btn-hover: #000;
  --brand-gradient: linear-gradient(90deg, #9B51E0, #BB6BD9);
  --brand-gradient-hover: linear-gradient(90deg, #933be6, #c257e9);

  --main: "DM Sans", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --title: "DM Sans", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --contentWidth: 1220px;
  --ctPadding: 30px;
}

html {
  font-family: var(--main);
}

* > * {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  /* border: red 1px solid; */
}

a {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  padding: 0 max(var(--ctPadding), 50vw - var(--contentWidth) / 2);
}

@media (max-width: 425px) {
  .container {
    padding: 0 max(12px, 50vw - var(--contentWidth) / 2);
  }
}

.ctn-btn {
  background-image: var(--brand-gradient);
  color: var(--white);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  letter-spacing: .05rem;
  font-family: var(--main);
  transition: ease .1s;
  font-size: inherit;
}

.ctn-btn:hover {
  background-image: var(--brand-gradient-hover);
}

.ctn-btn a {
  padding: 16px 32px;
  display: inline-block;
}


/* header */

.header {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: .05rem;
}

.header-logo a{
  background-color: var(--dark);
  padding: 12px 32px;
  border-radius: 4px;
  color: var(--light);
  display: inline-block;
  font-weight: 400;
  transition: ease .1s;
}

.header-logo a:hover{
  background-color: var(--btn-hover);
}



.header ul li {
  display: inline-block;
  color: var(--black);
  font-weight: 500;
}

.header ul li a {
  padding: 16px 8px;
  display: inline-block;
  transition: ease .1s;
  border-radius: 8px;
}

.header ul li a:hover {
  background-color: var(--light);
}

@media (max-width: 850px) {
  .header ul {
    display: none;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header-logo a{
    padding: 12px 24px;
  }
  .ctn-btn a {
    padding: 12px 24px;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 14px;
  }
  .header-logo a,
  .ctn-btn a {
    padding: 12px 16px;
  }
}

/* hero-section */

/* .bg-hero * {
  border: solid 1px red;
} */

.bg-hero {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  place-items: start;
  gap: 40px;
}

.hero-info div h1{
  font-family: var(--title);
  color: var(--dark);
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero-info div h1 span {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.hero-info div p{
  font-size: 18px;
  font-weight: 400;
  color: var(--font);
}

.hero-info div p strong{
  color: var(--dark);
}

.divider {
  height: 4px;
  width: 30px;
  background-image: var(--brand-gradient);
  border-radius: 1px;
  margin-left: 8px;
}

.hero-video img{
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .bg-hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero-info div h1{
    font-size: 36px;
  }
  .hero {
    grid-template-columns: 6fr 8fr;
    gap: 40px;
  }
  .hero-info {
    gap: 30px;
  }
  .divider {
    display: none;
  }
}

@media (max-width: 850px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .hero-info {
    grid-row: 2;
    align-items: center;
    text-align: center;
  }
  .hero-info h1{
    max-width: 17ch;margin: 0 auto;
  }
  .hero-info p{
    max-width: 40ch;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .hero-info h1{
    font: 28px;
    line-height: 1;
  }
}






