/* global styles and components*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --white: #fff;
  --light: #eee;
  --light-background: #eee;
  --grey: #999;
  --font: #555;
  --dark: #333;
  --black: #111;
  --btn-hover: #000;
  --green: #00b54d;
  --yellow: #fec633;
  --red: #eb5757;
  --brand-gradient: linear-gradient(90deg, #9b51e0, #bb6bd9);
  --dark-gradient: linear-gradient(150deg, #000, #222, #000);
  --wpp-gradient: linear-gradient(90deg, #0fa948, #4bc177);
  --brand-gradient-hover: linear-gradient(90deg, #933be6, #c257e9);

  --main: "DM Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --title: "DM Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --contentWidth: 1220px;
  --ctPadding: 30px;
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

html {
  font-family: var(--main);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* border: red 1px solid; */
}

a {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

.container {
  padding: 0 max(var(--ctPadding), 50vw - var(--contentWidth) / 2);
}

@media (max-width: 767px) {
  .container {
    padding: 0 max(20px, 50vw - var(--contentWidth) / 2);
  }
}

.ctn-btn {
  background-image: var(--brand-gradient);
  color: var(--white);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-family: var(--main);
  transition: ease 0.1s;
  font-size: inherit;
}

.ctn-btn:hover {
  background-image: var(--brand-gradient-hover);
}

.ctn-btn a {
  padding: 16px 32px;
  display: inline-block;
}

.white-btn {
  background-image: var(--white);
  color: var(--white);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-family: var(--main);
  transition: ease 0.1s;
  font-size: inherit;
}

.white-btn a {
  padding: 16px 32px;
  display: inline-block;
  color: var(--dark);
  font-weight: 600;
}

.white-btn:hover {
  background-color: var(--yellow);
}

.wpp-btn {
  background-image: var(--wpp-gradient);
}

.wpp-btn:hover {
  background-image: var(--wpp-gradient);
}

.wpp-btn a img {
  margin-bottom: -4px;
  margin-right: 8px;
  max-width: 20px;
}

.wpp-btn a {
  width: auto;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: var(--font);
}

p strong {
  color: var(--dark);
}

h2 {
  font-family: var(--title);
  color: var(--dark);
  font-size: 36px;
  line-height: 1;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

.title {
  text-align: center;
  width: 100%;
}

.title span {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.05rem;
  font-weight: 700;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-white {
  text-align: center;
}

.title-white span {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.05rem;
  font-weight: 700;
  color: var(--yellow);
}

.title-white h2,
.title-white p {
  color: var(--white);
}

.title-white p {
  color: var(--light);
}

@media (max-width: 600px) {
  .title span,
  .title-white span {
    font-size: 16px;
  }
  .title h2,
  .title-white h2 {
    font-size: 28px;
  }
  .title p,
  .title-white p {
    font-size: 16px;
    font-weight: 400;
  }
}

/* header */

.header {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 0px;
  letter-spacing: 0.05rem;
}

.header ul {
  font-size: 18px;
}

.header-logo img {
  max-width: 230px;
}

.header ul li {
  display: inline-block;
  color: var(--black);
  font-weight: 500;
}

.header ul li a {
  padding: 16px 8px;
  display: inline-block;
  transition: ease 0.1s;
  border-radius: 8px;
}

.header ul li a:hover {
  background-color: var(--light);
}

@media (max-width: 1023px) {
  .header ul {
    display: none;
  }
}

@media (max-width: 600px) {
  .header .ctn-btn {
    display: none;
  }
  .header-logo {
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 14px;
  }
  .header-logo a {
    padding: 12px 24px;
  }
  .ctn-btn a {
    padding: 12px 24px;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 14px;
  }
  .header-logo a,
  .ctn-btn a {
    padding: 12px 16px;
  }
}

/* hero-section */

.bg-hero {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero {
  display: grid;
  grid-template-columns: 6fr 8fr;
  gap: 60px;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  place-items: start;
  gap: 32px;
}

.hero-info div h1 {
  font-family: var(--title);
  color: var(--dark);
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero-info div h1 span {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  height: 4px;
  width: 30px;
  background-image: var(--brand-gradient);
  border-radius: 1px;
  margin-left: 2px;
}

.hero-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.hero-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

@media (max-width: 1400px) {
  .hero {
    grid-template-columns: 6fr 8fr;
    gap: 40px;
  }
  .hero-info {
    gap: 30px;
  }
  .divider {
    display: none;
  }
}

@media (max-width: 1023px) {
  .bg-hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .hero {
    margin: 0 auto;
    max-width: 800px;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .hero-info {
    grid-row: 2;
    align-items: center;
    text-align: center;
  }
  .hero-info h1 {
    max-width: 17ch;
    margin: 0 auto;
  }
  .hero-info p {
    max-width: 40ch;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .bg-hero {
    padding-top: 60px;
  }
  .hero-info div h1 {
    font-size: 28px;
    line-height: 1;
  }
}

/* aulas */

.aulas-img div,
.hero-video div,
.aulas-video div,
.depoimentos-video div {
  top: 10px;
  left: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #bb6bd9;
  border-radius: 12px;
  box-shadow: rgba(187, 107, 217, 0.2) 0px 7px 29px 0px, inset rgba(187, 107, 217, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 600px) {
  .aulas-img div,
  .hero-video div,
  .aulas-video div,
  .depoimentos-video div {
    top: 5px;
    left: 5px;
    border-radius: 8px;
  }
}

.bg-aulas {
  background-color: #f8f8f8;
  padding-top: 80px;
  padding-bottom: 120px;
}

.aulas {
  align-items: center;
  padding-top: 60px;
  margin: 0 auto;
}

.aulas-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 10px;
}

.aulas-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.aulas-info {
  display: grid;
  gap: 40px;
  max-width: 700px;
  margin: 0 auto;
}

.aulas-info div:last-child {
  margin: 0 auto;
}

.aulas-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 30px;
  place-content: center;
}

.aulas-list img {
  max-width: 32px;
}

.aulas-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.aulas-list li p {
  font-size: 16px;
}

.icons-list {
  display: grid;
  grid-template-columns: repeat(4, 125px);
  place-content: center;
  gap: 12px;
}

.icon-container {
  width: auto;
  text-align: center;
  display: grid;
  align-content: center;
}

.icon-container img {
  margin: 0 auto;
  width: 36px;
}

.icon-container span {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.05rem;
  font-weight: 600;
  color: var(--dark);
}

.icon-container p {
  font-size: 16px;
  line-height: 1;
}

@media (max-width: 1024px) {
  .bg-aulas {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .aulas {
    gap: 40px;
    padding-top: 40px;
  }
  .aulas-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    column-gap: 12px;
  }
}

@media (max-width: 850px) {
  .aulas {
    grid-template-columns: 1fr;
  }
  .aulas-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    column-gap: 12px;
  }
  .aulas-img img {
    max-height: 800px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (max-width: 600px) {
  .aulas-list {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .icons-list {
    grid-template-columns: 130px 130px;
    gap: 12px;
  }
}

/* beneficios */

.bg-beneficios {
  display: grid;
  gap: 60px;
  background-color: var(--black);
  padding-top: 120px;
  padding-bottom: 120px;
}

.beneficios {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 40px;
  justify-items: center;
}

.quem-wrapper {
  max-width: 400px;
  padding: 80px 40px;
  background: #000;
  color: var(--light);
  border-radius: 8px;
  display: grid;
  gap: 32px;
  border: solid 2px var(--white);
  line-height: 1.1;
}

.quem-wrapper p:first-child {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.quem-wrapper P {
  color: var(--white);
}

.quem-list {
  display: grid;
  gap: 24px;
}

.quem-list li {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 16px;
}

.quem-list li img {
  padding-top: 2px;
  max-width: 18px;
}

.beneficios .white-btn:nth-child(2){
  display: none;
}

.beneficios-info {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: start;
  gap: 32px;
  padding: 32px 32px 32px 0px;
  color: var(--white);
}

.yellow-divider {
  border-radius: 1px;
  width: 30px;
  height: 4px;
  background-color: var(--white);
}

.calculos {
  display: grid;
  gap: 16px;
}

.calculos p,
.disclaimer p {
  color: var(--light);
  font-weight: 300;
}

.poder {
  background-color: var(--black);
  border-radius: 4px;
  border: 2px solid var(--light);
  width: 100%;
}

.poder p {
  padding: 16px;
  text-align: center;
  color: var(--light);
  font-weight: 400;
}

.disclaimer {
  display: grid;
  gap: 6px;
}

.disclaimer p {
  font-size: 16px;
}

@media (max-width: 1023px) {
  .bg-beneficios {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .beneficios {
    grid-template-columns: 1fr;
  }
  .beneficios .white-btn:nth-child(2){
    display: inline-block;
    grid-row: 3;
  }
  .beneficios-info button {
    display: none;
  }
  .quem-wrapper {
    grid-row: 2;
    margin: 0 auto;
  }
  .yellow-divider {
    display: none;
  }
  .beneficios-info {
    padding: 0;
    padding-bottom: 40px;
    gap: 24px;
  }
  .poder {
    display: initial;
  }
  .beneficios-info h3 {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .beneficios {
    gap: 40px;
  }
  .beneficios-info h3 {
    font-size: 18px;
  }
  .calculos {
    margin: 0 auto;
  }
  .calculos p {
    font-size: 16px;
    gap: 16px;
    max-width: 25ch;
    text-align: center;
  }
  .disclaimer p {
    font-size: 13px;
  }
}

@media (max-width: 424px) {
  .poder p {
    font-size: 16px;
  }
}

/* anuncios */

.bg-anuncios {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-background);
}

.anuncios {
  display: grid;
  gap: 60px;
}

.anuncios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.anuncios-grid p {
  text-align: center;
}

.anuncios-grid img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 4px;
  margin-bottom: 16px;
}

.anuncios-grid div {
  max-width: 400px;
  margin: 0 auto;
}

.anuncios div{
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .bg-anuncios {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .anuncios-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

/* depoimentos */

.bg-depoimentos {
  background-color: var(--black);
  padding-top: 140px;
  padding-bottom: 140px;
}

.depoimentos-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.depoimentos-ct {
  display: grid;
  align-content: center;
}

.quote {
  position: relative;
  margin-bottom: 40px;
  font-style: italic;
}

.quote p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--light);
  line-height: 1.5;
  font-size: 20px;
  max-width: 34ch;
  margin: 0 auto;
}

.quote:before,
.quote:after {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 86px;
  opacity: 0.3;
  position: absolute;
  color: var(--yellow);
}

.quote:before {
  content: "“";
  top: -35px;
  left: -25px;
}

.quote:after {
  content: "”";
  position: absolute;
  bottom: -80px;
  right: 0px;
}

.depoimentos-person {
  margin-left: auto;
  text-align: end;
}

.depoimentos-person p:first-child {
  color: var(--yellow);
  font-weight: 500;
}

.depoimentos-person p:nth-child(2) {
  font-weight: 400;
  color: var(--white);
}

.depoimentos-person p:nth-child(3) {
  font-weight: 400;
  color: var(--grey);
}

.depoimentos-video {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}
.depoimentos-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 2;
}

.depoimentos-video div {
  border: 2px solid #fff !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px, inset rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.depoimentos-bottom {
  display: flex;
  justify-content: center;
  width: auto;
}

@media (max-width: 1023px) {
  .bg-depoimentos {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .depoimentos-top {
    margin: 0 auto;
    max-width: 800px;
    grid-template-columns: 1fr;
    gap: 120px;
  }
  .depoimentos-ct {
    order: 2;
    gap: 16px;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .quote p {
    font-size: 18px;
  }
  .depoimentos-person p {
    font-size: 14px;
  }
  .depoimentos-person p:first-child {
    font-size: 16px;
  }
}

@media (max-width: 423px) {
  .quote p {
    font-size: 16px;
  }
}

/* new slider */ 

#wrapper {
  width: 100%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: var(--yellow);
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: -30px;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 10px;
  transform: translate(50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: calc(min(100vw, 300px) - 24px);
  height: auto;
  border-radius: 8px;
}

@media (max-width: 450px) {
  .item {
    width: calc(100vw - 40px);
    height: auto;
    background: green;
  }
}
/* precos */

.bg-precos {
  padding-top: 120px;
}

.precos {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.precos-left {
  display: grid;
  place-items: center;
}

.precos-wrapper {
  text-align: center;
  max-width: 400px;
  padding: 60px;
  padding-bottom: 80px;
  background-image: var(--dark-gradient);
  color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.precos-wrapper P {
  color: var(--white);
}

.precos-wrapper p:first-child {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.price-tag {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.price-tag * {
  font-weight: 700;
}

.tag-1 {
  font-size: 20px;
  align-self: start;
}

.tag-2 {
  font-size: 72px;
  line-height: 63px;
}

.tag-3,
.tag-4 {
  align-self: end;
}

.price-divider {
  width: 100%;
  height: 1px;
  background-color: var(--light);
}

.precos-list {
  display: grid;
  gap: 24px;
}

.precos-list li {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 18px;
}

.precos-list li img {
  padding-top: 2px;
  max-width: 18px;
}

.precos-left .ctn-btn {
  margin-top: -27px;
}

.precos-right {
  display: grid;
  gap: 65px;
  place-content: center;
}

.precos-right p {
  font-weight: 700;
  color: var(--dark);
}

.precos-right div img {
  max-width: 200px;
}

.precos-right div:first-child img {
  max-width: 200px;
}

.precos-right div * {
  text-align: center;
  margin: 5px;
}

.wpp-cta {
  padding-bottom: 120px;
  display: grid;
  place-items: center;
  gap: 24px;
}

.wpp-cta div p:first-child {
  font-size: 24px;
  color: var(--dark);
}

.wpp-cta div p:nth-child(2) {
  font-family: var(--main);
  font-size: 16px;
  color: var(--grey);
  font-weight: 400;
}

@media (max-width: 1023px) {
  .bg-precos {
    padding-top: 80px;
  }
  .wpp-cta {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .precos {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 424px) {
  .precos-wrapper {
    width: 100%;
    padding: 40px;
    padding-bottom: 60px;
  }
  .precos-wrapper li {
    text-align: left;
  }
  .wpp-cta div p:first-child {
    font-size: 20px;
  }
}

/* footer */

.bg-footer {
  background-image: var(--dark-gradient);
}

.footer-logo {
  border-radius: 8px;
}

.footer {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: start;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-wrap: wrap;
}

.footer-center {
  margin: 0 auto;
  text-align: center;
}

.footer-center p {
  color: var(--white);
  font-weight: 300;
}

.footer-center p:first-child {
  margin-bottom: 16px;
}

.footer-right {
  display: flex;
  gap: 16px;
}

.footer-right i {
  color: var(--white);
  padding: 20px 10px;
}

.footer-right div {
  background-image: var(--brand-gradient);
  border-radius: 4px;
}

.footer-right div:hover {
  background-image: var(--brand-gradient-hover);
}

.footer-logo {
  max-width: 230px;
}

@media (max-width: 1000px) {

  .footer-center {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .bg-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer {
    gap: 40px;
  }
  .footer-center p {
    font-size: 14px;
  }
}
